body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
}
.name{
    color: dodgerblue;
}
.top-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.top-part img{
    width: 100%;
}